@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.Cards {
    margin-bottom: 0px;
    background-color: #a4b494;
    border-left: 10px solid #519872;
    height: 250px;
    width: 30%;
    margin-left: 20px;
    display:inline-flex;
    align-items: center;
  }
  .Cards:hover{
    box-shadow: 14px 10px 14px 10px rgba(0, 0, 0, 0.2), 0 20px 34px 0 rgba(0, 0, 0, 0.19);
  }
  
  .Cards-header{
    border-color: #ebeef4;
    color: #34252F;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
  }
  